/* Main base styles */
*{
  margin-top: 0;
  font-family: 'Lato', sans-serif;
}

body, html {
  margin: 0;
}

body{
  background: #eee;
  color: #333;
  display:flex;
  flex-direction: row;
}
div{
  display:flex;
  flex-direction: row;
}
/* header */
header{
  width:25%;
  position:fixed;
  height: 100vh;
  overflow:hidden;
}
/* Main section */
.wrapper{
  width: 100%;
  max-width: 960px;
  background: #f6f7f8;
  margin: 0 0 0 auto;
}
.main{
  min-height: 100px;
  width: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  background: #
}
.slide{
  margin-left: 15px;
}


/* Nav base styles */

.nav{
  min-height: 100px;
  height:100%;
  display:flex;
  flex-direction: column;
  background: #fff;
  padding: 30px 0;
}
ul{
  display:flex;
  flex-direction:column;
}
li{
  text-decoration: none;
  list-style-type: none;
  font: 14px/30px;
  margin-bottom: 15px;
}
.carolyn{
  border-bottom: 2px solid #f6f7f8;
  width: 85%;
}
.dark{
  font-weight: bolder;
}
/* Right Side base styles */
article{
  background: #fff;
  margin: 10px;
  padding: 15px;
}
.links{
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: flex-end;
  margin-top: 20px;
}

/* visited link */
a{
  text-decoration: none;
  color: RGBA(18, 232, 240, 0.94);
}
/* Main base styles */


@media (min-width: 320px) and (max-width: 716px){

header{
  display: none;
}
.wrapper{
  margin: 0 auto;
}
