/* Main base styles */
*{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body{
  background: #eee;
  color: #333;
  display:flex;
  flex-direction: row;
}
div{
  display:flex;
  flex-direction: row;
}
header{
  width:40%;
  overflow:hidden;
}
.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: #f6f7f8;
}

.main{
  min-height: 100px;
  width: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  background: #
}

/* Nav base styles */

.nav{
  min-height: 100px;
  height:100%;
  display:flex;
  flex-direction: column;
  background: #fff;
}
ul{
  display:flex;
  flex-direction:column;
}
li{
  text-decoration: none;
  list-style-type: none;
  font: 14px/24px;
  margin-bottom: 15px;
}
.carolyn{
  border-bottom: 0.5px solid #87bccb;
}
/* Right Side base styles */
article{
  background: #fff;
  margin: 10px;
}
/* Main base styles */


@media screen and (min-width: 768px){
