.wrapper{
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.wrapper:after{
  content: "";
  display: block;
  clear: both;
}

.services:after{
  content: "";
  display: block;
  clear: both;
}

.service h2, .service p{
  color: #999;
  margin: 20px;
  text-align: center;
}

.service{
  float: left;
  background: #eee;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  height:140px;
}

.content {
  padding:10px;
  clear:left;
  margin: 20px 1%;
}

.content p{
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap:50px;
  column-gap:50px;
  -webkit-column-rule:1px solid #ccc;
  text-align: justify;
}

section, aside {
  float:left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background: #f2f2f2;
}

.columns{
  display:block;
  content:"";
  clear:both;
}

#banner{
  max-height:300px;
  overflow: hidden;
  margin:1%;
  position:relative;
}
#banner h2{
  position:absolute;
  margin: 0;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #fff;
  opacity: 25%;
}

img{
  width:100%;
}

/* FLEX - menu base styles - FLEX */

nav{
  background: #333;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover{
  background-color: #555;
}

/* flex styles */

nav ul.social{
  flex: 1 1 0;
  display: flex;
}

nav ul.social li{
  flex: 1 1 0;
}

@media screen and (min-width: 768px){

  nav ul{
    display: flex;
    justify-content: flex-start;
  }
  nav li{
    flex:1 1 0;
  }
    nav{
      display:flex;
      justify-content:space-between;
    }
  }
